Entrega_1/secciones_inf/*
!Entrega_1/secciones_inf/01intro.tex
!Entrega_1/secciones_inf/02info_gen.tex
!Entrega_1/secciones_inf/03estructuracion.tex
!Entrega_1/secciones_inf/04Materiales.tex
!Entrega_1/secciones_inf/05normas.tex
!Entrega_1/secciones_inf/06solicitaciones.tex
!Entrega_1/secciones_inf/07comb_cargas.tex
!Entrega_1/secciones_inf/08antecedentes_sis.tex
!Entrega_1/secciones_inf/09suelo_param.tex
!Entrega_1/secciones_inf/10conclu_com.tex
!Entrega_1/secciones_inf/IMG/
Entrega_1/informe.aux
Entrega_1/informe.bbl
Entrega_1/informe.blg
Entrega_1/informe.fdb_latexmk
Entrega_1/informe.fls
Entrega_1/informe.log
Entrega_1/informe.out
Entrega_1/informe.pdf
Entrega_1/informe.synctex.gz
Entrega_1/informe.toc
Entrega_1/secciones_in.aux
Entrega_2/Informe/secciones/*
!Entrega_2/Informe/secciones/intro.tex
!Entrega_2/Informe/secciones/losas.tex
!Entrega_2/Informe/secciones/Muros.tex
!Entrega_2/Informe/secciones/Conclu.tex
!Entrega_2/Informe/secciones/vigas.tex
!Entrega_2/Informe/IMG/
Entrega_2/Informe/informe.aux
Entrega_2/Informe/informe.bbl
Entrega_2/Informe/informe.blg
Entrega_2/Informe/informe.fdb_latexmk
Entrega_2/Informe/informe.fls
Entrega_2/Informe/informe.log
Entrega_2/Informe/informe.out
Entrega_2/Informe/informe.pdf
Entrega_2/Informe/informe.synctex.gz
Entrega_2/Informe/informe.toc
Entrega_2/Informe/secciones_in.aux
