Entrega_1/secciones_inf/*
!Entrega_1/secciones_inf/01intro.tex
!Entrega_1/secciones_inf/02info_gen.tex
!Entrega_1/secciones_inf/03estructuracion.tex
!Entrega_1/secciones_inf/04Materiales.tex
!Entrega_1/secciones_inf/05normas.tex
!Entrega_1/secciones_inf/06solicitaciones.tex
!Entrega_1/secciones_inf/07comb_cargas.tex
!Entrega_1/secciones_inf/08antecedentes_sis.tex
!Entrega_1/secciones_inf/09suelo_param.tex
!Entrega_1/secciones_inf/10conclu_com.tex
Entrega_1/informe.aux
Entrega_1/informe.bbl
Entrega_1/informe.blg
Entrega_1/informe.fdb_latexmk
Entrega_1/informe.fls
Entrega_1/informe.log
Entrega_1/informe.out
Entrega_1/informe.pdf
Entrega_1/informe.synctex.gz
Entrega_1/informe.toc
Entrega_1/secciones_in.aux